@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body {
  @apply font-inter text-gray-800;
}

@layer base {
  p {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply rounded-md bg-blue-500 px-3 py-2 text-sm text-white;
  }
  .card {
    @apply h-full rounded-md bg-white p-3 shadow-lg;
  }
}

.parent.router-link-exact-active {
  @apply rounded-lg bg-semi-black text-white;
}

.parent-active {
  @apply rounded-lg bg-semi-black text-white;
}

.child.router-link-exact-active {
  @apply text-blue-600;
}

/* scrollar width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
